<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medico Assist</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body style="background-color: #495057;">
    <nav class="navbar navbar-expand-lg p-3 navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> <b><em>MA</em></b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active mx-3" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active mx-3" aria-current="page" href="#">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <center>
        <div class="about my-5" style="background:white;color:black;" id="about">
            <div class="card-body" style="padding:3%">
                    <h3 style="text-align:center;"><p><b>Medico assist 🤖 is Ai powered Disease prediction site.</b></p>
                    </h3>
                    <ul>
                        <br>

                        </li>
                         <li><p>
                            This web app will predict possible medical conditions based on the symptoms provided.</p>
                        </li>
                        <li><p>This site is developed using Deep learning with Python programming language and tensorflow
                            library.</p>

                        <li><p> Deep learning Model is trained on the small dataset using Recurrent Neural Networks (RNNs) Algorithm.</p></li>

                        <li><p>Below are Some model specifications.
                        <ul><li><p>Input layer</p></li>
                        <li><p>One Dense layer with 64 Neurons and relu as activation function.</p></li>
                        <li><p>Output layer with 4 neuron (we are making 4 predications here) with activation Function Softmax function</p></li>
                        <li><p>Loss function - Categorical Cross Entropy</p></li>
                        <li><p>Optimizer - Adams </p></li>
                        <li><p>Accuracy - 1.00 (trained on too small dataset)</p></li></ul></p></li>

                        <li><p>We have created custom dataset from different health sites.</p></li>

                        <li><p>Though model has 100% accuracy it does make wrong predictions so take it as educational purpose.</p></li>

                    </ul>
                    <br><br>


                    <h5 style="text-align:center">References</h5>
                    <p style="text-align:center;" ><a href="https://www.medicinenet.com/diseases_and_conditions/alpha_a.htm">www.medicinenet.com</a>
                    </p><br>

                       <b><p style="text-align:center"> ⚠️ Disclaimer ⚠️</p>
                        <p style="text-align:center">This site is only for educational purpose not for practical use 🧑‍⚕️👨‍⚕️.</p></b>
                </div>
        </div>
        </center>


        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

</body>
</html>