<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease predictor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/form.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- Bootstrap CSS -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->


</head>


<script>

    function print_data(){
        console.log("hi")
        document.getElementById("pd").style.cssText = 'visibility: visible ;'
        input_text = document.getElementById('inp')
        const out_text = document.getElementById('cardtext')
        text = input_text.value
        out_text.innerHTML = text


}







</script>

<body style="background-color: #495057;">

<header>
    <div>
        <nav class="navbar navbar-expand-lg p-3 navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"> <b><em>MA</em></b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active mx-3" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active mx-3" aria-current="page" href="/about">About</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<main>
    <div class="input">
        <form method="post">
            <input type="text" name="inp" id="inp" placeholder="Enter symptoms here...">
            <input type="submit" name="btn" id="inpbtn" value="Submit">
        </form>
    </div>


    <div class="pred">
        {% if dises|length != 0 %}
        {% for i in range(4) %}
        <div class="predicted_Diseases" id='pd' style="visibility:visible">


            <div>
                <div class="card-body">
                    <h3 class="title"><b>Disease :- </b>{{dises[i]}}</h3>
                    <br>
                    <p class="card-text" id="symptext"><b> Symptoms :- </b>{{symptoms[i]}}</p>
                    <p class="card-text" id="cardtext"><b> Treatment :- </b>{{treatment[i]}}</p>

                </div>
            </div>


        </div>
        {%endfor%}
        {%else%}
        <div class="predicted_Diseases" style="visibility:visible">


            <div>
                <div class="card-body">
                    <h3><p>Medico assist 🤖 is Ai powered Simple disease prediction site based on symptoms.</p>
                        <p>This site is built using Deep learning with Python programming language and tensorflow library.
                            this web app will predict possible medical conditions based on the symptoms provided.</p>

                        <p> -> Model is trained on the small dataset (collected customly from diff health sites) but
                            still has accurecy around 98%</p>

                       <b><p> ⚠️ Disclaimer ⚠️</p>
                        <p>This site is only for educational purpose not for practical use 🧑‍⚕️👨‍⚕️.</p></b> </h3>
                    <br>
                </div>
            </div>
            {%endif%}


        </div>

    </div></main>
<footer>
    <div class="text-center">
        © 2021 Copyright: DynoCodes

    </div>
</footer>

</body>


</html>
